*{
    font-family: 'Baloo 2', cursive;
}
.container h2{
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
}
.container button{
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
}
